version: '3'

services:
  poll:
    build: ./poll
    ports:
      - "5000:80"
    networks:
      - poll-tier
    environment:
      - REDIS_HOST=${REDIS_HOST}
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:7
    networks:
      - poll-tier
      - back-tier
    expose:
      - "6379"
    restart: always

  worker:
    build: ./worker
    networks:
      - back-tier
    environment:
      - REDIS_HOST=${REDIS_HOST}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=5432
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      - redis
      - db
    restart: always

  result:
    build: ./result
    ports:
      - "5001:80"
    networks:
      - result-tier
    environment:
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=5432
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      - db
    restart: always

  db:
    image: postgres:16
    networks:
      - result-tier
      - back-tier
    volumes:
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql
      - db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    restart: always

volumes:
  db-data:

networks:
  poll-tier:
  result-tier:
  back-tier: